.header-items {
	display: flex;
	justify-content: space-between;
}

.black-wrapper {
	width: 100vw;
	margin-top: 25vh;
	min-height: 100vh;
	// background: $black;
}

.portfolio_item {
	margin-top: 10px;
}